.pre-commit-config.yaml linguist-generated
.github/workflows/check-pre-commit-hooks.yml linguist-generated
.github/workflows/populate-binary-cache.yml linguist-generated
.gitattributes linguist-generated
.editorconfig linguist-generated
treefmt.toml linguist-generated
.taplo.toml linguist-generated
